target*
target/*
production/brevitest_v1_0/target/1.5.0/argon/*
production/brevitest_v1_0/.vscode/settings.json
.DS_Store
node_modules/*
firmware/wifi-test/
firmware/src/brevitest-firmware.cpp
msom_firmware*.*
firmware/nul
